<%- include('partials/header') %>
    <div class="container-fluid">

        <div class="error-container">
            <div class="error-code">404</div>
            <div class="error-message">Page Not Found</div>
        </div>
    </div>

    <%- include('partials/footer') %>